<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--Esto es una prueba-->

                <style type="text/css">
                    .img {
                        margin-left: 50px;
                        float: left;
                        margin-top: 10px;
                    }

                    .nom {
                        float: left;
                        margin-left: 5px;
                        padding-right: 5px;
                        color: white;
                        font-size: 25px;
                        border-right: white 2px solid;
                    }
                </style>
                <img src="@Url.Content("/Images/iafcjlogo.PNG")" class="img"  width="5%">
                <p class="nom"> <b>Iglesia Apostolica de<br />la Fe en Cristo Jesus</b></p>


                <!--Termina la prueba-->

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Registro Campamentos", "Index", "Home")</li>
                    <li>@Html.ActionLink("Administrador", "Index", "Login")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&reg;2019  Iglesia Apostólica de la Fe en Cristo Jesús, A.R.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
